<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="navbar(selected)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" th:classappend="${selected == 'books'}? active : ''"><a class="nav-link" href="/books">Books</a></li>
          <li class="nav-item" th:classappend="${selected == 'readings'}? active : ''"><a class="nav-link" href="/readinglist">Reading list</a></li>
          <li class="nav-item" th:classappend="${selected == 'stats'}? active : ''"><a class="nav-link" href="/stats">Stats</a></li>
          <li class="nav-item" th:classappend="${selected == 'tags'}? active : ''"><a class="nav-link" href="/tags">Tags</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">More...</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/books/rebuildindex">Rebuild search index</a>
            </div></li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>