<!DOCTYPE html>
<!-- 
/** 
 * Fragment for pagination - Message nb of results
 * @param elements : The Pageable containing the elements to display
 * @param filter : The active filter
 */
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="pagination(elements, filter)">
		<span th:text="${elements.totalElements}"></span> results<!-- Antispace device
	    --><span th:if="${elements.totalPages gt 1}">, showing page 
	    <span th:text="${elements.number + 1}"></span> 
	    of <span th:text="${elements.totalPages}"></span></span><!-- Antispace device  
		--><span th:if="${!#strings.isEmpty(filter)}">, filter on <strong th:text="${filter}">Search</strong> 
		(<a	id="removeFilter" href="#">remove</a>)
		</span>
	</div>
</body>
</html>