<!DOCTYPE html>
<!-- 
/** 
 * Fragment for pagination  - Display a list to select page size.
 * @param elements : The Pageable containing the elements to display
 */
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="pagination(elements)">
		<span>Show </span><select id="size">
			<option></option>
			<option value="10" th:selected="${elements.size == 10}">10</option>
			<option value="20" th:selected="${elements.size == 20}">20</option>
			<option value="50" th:selected="${elements.size == 50}">50</option>
			<option value="100" th:selected="${elements.size == 100}">100</option>
			<option value="1000" th:selected="${elements.size == 1000}">1000</option>
		</select> <span> books</span>
	</div>
</body>
</html>