<!DOCTYPE html>
<!-- 
/** 
 * Fragment for pagination 
 * @param elements : The Pageable containing the elements to display
 * @param pages : The precomputed list of pages to display.
 */
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="pagination(elements, pages)">
    <nav aria-label="Table navigation" th:if="${elements.totalPages gt 1}">
      <ul class="pagination pagination-sm">
        <li th:classappend="${elements.first}? disabled : enabled" class="page-item"><a aria-label="First" href="#" data-th-attr="data-page=0"
          class="page-link"> <span aria-hidden="true">&laquo;</span>
        </a></li>
        <!-- /* Pagination is precomputed on server */ -->
        <li th:each="page:${pages}" class="page-item" th:classappend="|${page < 0 ? 'disabled' : 'enabled'} ${elements.number == page ? 'active' : ''}|">
          <span th:if="${page == -1}" th:text="..." class="page-link">...</span> <a href="#" th:if="${page > -1}" data-th-attr="data-page=${page}"
          th:text="${page + 1}" class="page-link">1</a>
        </li>
        <li th:classappend="${elements.last} ? disabled : enabled" class="page-item"><a href="#" data-th-attr="data-page=${elements.totalPages - 1}"
          aria-label="Last" class="page-link"> <span aria-hidden="true">&raquo;</span>
        </a></li>
      </ul>
    </nav>
  </div>
</body>
</html>