
html {overflow-y: scroll;} /* Avoid centering jump */
.container{margin-top:20px;}
.hidden{display:none}
tr.row{margin:0}
.filter-bar{margin-bottom:20px}

ul.pagination li a{min-width:35px;text-align:center;}
ul.pagination li span{min-width:35px;text-align:center}

// Book list
.filter-tooltip {color:#AAA;font-size:small;padding-left: 1.3em}
// Tag list
.tag {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 5px 2px;
  line-height: 20px;
  cursor:pointer;
}
.tagcolor {
  padding: 2px 3px 0px 2px; font-family: Courier; border-width: 1px;
  border-style: solid; line-height: 12px; height: 16px;
  cursor:pointer
}
.priority-input{width: 50px; text-align: right;}

// Stats
.stat-box { padding: 0 }
.inner-stat-box {color: white;text-align: center;padding: 10px;margin: 5px 5px;}
.fa-expand-alt, .fa-times {float: right;cursor: pointer}
.booksbytag { background: linear-gradient(to left bottom, #9BC500, #69A700) }
.pagesbytag { background: linear-gradient(to left bottom, #F8C600, #F5AB00) }
.booksbyauthor { background: linear-gradient(to left bottom, #DC504C, #CD3632) }
.pagesbyauthor { background: linear-gradient(to left bottom, #A14EA0, #713470) }
.booksbyyear { background: linear-gradient(to left bottom, #A7D1F2, #7FBDEE)}
.pagesbyyear { background: linear-gradient(to left bottom, #A7D1F2, #7FBDEE) }
.booksbymonth { background: linear-gradient(to left bottom, #EDC7DF, #E5ABCF) }
.pagesbymonth {background: linear-gradient(to left bottom, #EDC7DF, #E5ABCF)}

// CSS to make button looks like a link. From https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md
.link-button {color: #007bff; background-color: transparent;border: none;text-decoration:none; cursor: pointer;display: inline;margin: 0;text-align:left}
.link-button:hover, .link-button:focus {text-decoration: none;text-decoration:underline; }
