
html {overflow-y: scroll;} /* Avoid centering jump */
.container{margin-top:20px;}
.hidden{display:none}
tr.row{margin:0}

ul.pagination li a{min-width:35px;text-align:center;}
ul.pagination li span{min-width:35px;text-align:center}

.tag {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 5px 2px;
  line-height: 20px;
  cursor:pointer;
}
.tagcolor {
  padding: 2px 3px 0px 2px; font-family: Courier; border-width: 1px;
  border-style: solid; line-height: 12px; height: 16px;
  cursor:pointer
}

#tag-color-A{background-color:#E7E7E7; color:#464646; border-color:#464646;} /* Mercury */
#tag-color-B{background-color:#B6CFF5; color:#0D3472; border-color:#0D3472;} /* Perano */
#tag-color-C{background-color:#98D7E4; color:#0D3B44; border-color:#0D3B44;} /* Regent St blue */
#tag-color-D{background-color:#E3D7FF; color:#3D188E; border-color:#3D188E;} /* Fog */
#tag-color-E{background-color:#FBD3E0; color:#711A36; border-color:#711A36;} /* classic rose */
#tag-color-F{background-color:#F2B2A8; color:#8A1C0A; border-color:#8A1C0A;} /* Mandys pink */
#tag-color-G{background-color:#C2C2C2; color:#FFFFFF; border-color:#464646;} /* Silver */
#tag-color-H{background-color:#4986E7; color:#FFFFFF; border-color:#0D3472;} /* Royal blue */
#tag-color-I{background-color:#2DA2BB; color:#FFFFFF; border-color:#0D3B44;} /* Curious blue */
#tag-color-J{background-color:#B99AFF; color:#FFFFFF; border-color:#3D188E;} /* Mauve */
#tag-color-K{background-color:#F691B2; color:#994A64; border-color:#994A64;} /* Persian pink */
#tag-color-L{background-color:#FB4C2F; color:#FFFFFF; border-color:#8A1C0A;} /* Red orange */
#tag-color-M{background-color:#FFC8AF; color:#7A2E0B; border-color:#7A2E0B;} /* Wax flower */
#tag-color-N{background-color:#FFDEB5; color:#7A4706; border-color:#7A4706;} /* Frangipani */
#tag-color-O{background-color:#FBE983; color:#594C05; border-color:#594C05;} /* Sweet corn */
#tag-color-P{background-color:#FDEDC1; color:#684E07; border-color:#684E07;} /* Beeswax */
#tag-color-Q{background-color:#B3EFD3; color:#0B4F30; border-color:#0B4F30;} /* Magic mint  */
#tag-color-R{background-color:#A2DCC1; color:#04502E; border-color:#04502E;} /* Fringy flower*/
#tag-color-S{background-color:#FF7537; color:#FFFFFF; border-color:#8A1C0A;} /* Burning orange */
#tag-color-T{background-color:#FFAD46; color:#FFFFFF; border-color:#8A1C0A;} /* Yellow orange*/
#tag-color-U{background-color:#EBDBDE; color:#662E37; border-color:#662E37;} /* Soft peach */
#tag-color-V{background-color:#CCA6AC; color:#FFFFFF; border-color:#662E37;} /* Clam shell */
#tag-color-W{background-color:#42D692; color:#094228; border-color:#094228;} /* Shamrock */
#tag-color-X{background-color:#16A765; color:#FFFFFF; border-color:#094228;} /* Mountain meadow */

