/* Generic */
html {overflow-y: scroll;} /* Avoid centering jump */
.container{margin-top:20px}
a{cursor:pointer}
.hidden{display:none}

/* Lists */
#list-header-summary{height:50px}
ul.pagination li a{min-width:35px;text-align:center}
ul.pagination li span{min-width:35px;text-align:center}
.list-cell{width: 0; min-width: 100%;}
tr.row{margin:0}
.tag {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 5px 2px;
	line-height: 20px;
	cursor:pointer;
}

/* Tooltip on book list */
.qtip{max-width:1000px}
.qtip-light{
	background-color: white;
	border-color: #E2E2E2;
	color: #454545;
}
.qtip-light .qtip-titlebar{
	background-color: #f1f1f1;
}

