<th:block xmlns:th="http://www.thymeleaf.org">
  <style>
#booktooltip-title {font-size: 120%;font-weight: bold;text-align: center;margin:10px}
#booktooltip-img {float: left; padding:0 10px 10px}
#booktooltip-table>tbody>tr>th {vertical-align:top;font-weight:normal}
#booktooltip-subtitle{padding-top:10px}
</style>
  <div id="booktooltip-title" th:text="${book.title}"></div>
  <div>
    <div id="booktooltip-img" th:if="${not #strings.isEmpty(book.smallImage)}" >
      <img th:src="@{/store/{path}(path=${book.smallImage})}" />
    </div>
    <div id="booktooltip-data">
      <table id="booktooltip-table">
        <tr>
          <th>ISBN:</th>
          <td th:text="${book.isbn}"></td>
        </tr>
        <tr>
          <th>Publisher:</th>
          <td th:text="${book.publisher}"></td>
        </tr>
        <tr>
          <th>Publication:</th>
          <td th:text="${book.publicationDate}"></td>
        </tr>
        <tr>
          <th>Lang:</th>
          <td th:text="${book.lang}"></td>
        </tr>
      </table>
    </div>
    <div id="booktooltip-subtitle" th:if="${not #strings.isEmpty(book.subtitle)}" th:text="${book.subtitle}">
    </div>
  </div>
</th:block>
