<!DOCTYPE html>
<html lang="en">
<th:block xmlns:th="http://www.thymeleaf.org">

	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Your library</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"  />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<style>
.tag {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 5px 2px;
	line-height: 20px;
}</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Add a book</h3>
					<form th:action="@{/isbnlookup}" method="POST" class="form-horizontal">
						<label for="isbn" class="col-sm-2 control-label">ISBN</label>
						<div class="col-sm-8">
							<input id="isbn" name="isbn" type="text" class="form-control" value="" size="20"></input>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
				<div class="col-md-6">
					<h3>&nbsp;</h3>

					<div class="row">
						<a href="/tags">Manage tags</a>
					</div>
					<div class="row">
						<a href="/stats">Stats</a>
					</div>
					<div class="row">
						<a href="/exportcsv">Export CSV</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>Your library</h3>
					<div th:if="${#lists.isEmpty(books)}">
						<p>You have no book in your book list</p>
					</div>
					<div th:unless="${#lists.isEmpty(books)}">
						<table id="booktable" class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="col-xs-5">Title</th>
									<th class="col-xs-2">Author</th>
									<th class="col-xs-1">Pages</th>
									<th class="col-xs-3">Tags</th>
									<th class="col-xs-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="book : ${books}">
									<td><a th:href="@{/book/{b}(b=${book.id})}" th:text="${book.title}">Title</a></td>
									<td th:text="${book.author}">Author</td>
									<td th:text="${book.pages}">Pages</td>
									<td>
										<span class="tag" th:each="tag: ${book.tags}" th:text="${tag.text}"
										th:style="'background-color:' + ${tag.backgroundColor} + ';color:' + ${tag.color} + ';border-color:'+ ${tag.borderColor}">tag</span>
									</td>
									<td>
										<span th:if="${book.status == T(com.obourgain.mylib.vobj.Book.BookStatus).DISCARDED}">Discarded</span>
										<span th:if="${book.status == T(com.obourgain.mylib.vobj.Book.BookStatus).TO_READ}">To read</span>
									</td>								
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script>
		$(function() {
			$('#booktable').DataTable();
		});
		
		</script>
	</body>
</th:block>
</html>