<!DOCTYPE html>
<html lang="en">
<th:block xmlns:th="http://www.thymeleaf.org">

	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Your library</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"  />
<style>
.tag {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 5px 2px;
	line-height: 20px;
}
ul.pagination li a{min-width:35px;text-align:center}
ul.pagination li span{min-width:35px;text-align:center}
a{cursor:pointer}
#booklist-header-size{margin:26px 0}
#booklist-header-summary{margin:26px 0}
.booklist-cell{width: 0; min-width: 100%;}
</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Add a book</h3>
					<form th:action="@{/isbnlookup}" method="POST" class="form-horizontal">
						<label for="isbn" class="col-sm-2 control-label">ISBN</label>
						<div class="col-sm-8">
							<input id="isbn" name="isbn" type="text" class="form-control" value="" size="20"></input>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
				<div id="menu" class="col-md-3">
					<h3>&nbsp;</h3>
					<div class="row">
						<a href="/tags">Manage tags</a>
					</div>
					<div class="row">
						<a href="/stats">Stats</a>
					</div>
					<div class="row">
						<a href="/books/exportcsv">Export CSV</a>
					</div>
					<div class="row">
						<a href="/books/create">New book</a>
					</div>
                    <div class="row">
                        <input id="search-criteria" type="text" name="query" th:value="${searchCriteria}"/>
                        <button type="submit" onclick="search();">Submit</button>
                    </div>
                    <div class="row">
                      <a href="/books/rebuildindex">Rebuild search index</a>
                    </div>
                    <div class="row">
          				<input type="checkbox" id="showDisc" th:checked="${showDiscarded}" />   
          				<label for="showDisc0">Show discarded</label>
          			</div>
				</div>
                <div class="col-md-3" id="bookpreview"></div>
			</div>
			<div class="alert alert-warning alert-dismissible" role="alert"
				th:if="${!#strings.isEmpty(alertWarn)}"
				th:utext="${alertWarn}">
				Alert message
			</div>
			<div class="alert alert-danger" role="alert"
				th:if="${!#strings.isEmpty(alertError)}"
				th:text="${alertError}">
				Alert message
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3>Your library</h3>
					<div th:if="${books.totalElements == 0}">
						<p>No book found</p>
					</div>
					<div th:if="${books.totalElements gt 0}">
					<!-- Pagination -->
						<div class="row">
							<div id="booklist-header-summary" class="col-md-5">
								<span th:text="${books.totalElements}"></span> results<!-- Antispace device
								--><span th:if="${books.totalPages gt 1}">, showing page <span th:text="${books.number + 1}"></span>
                                 of <span th:text="${books.totalPages}"></span></span><!-- Antispace device  
                                  --><span th:if="${!#strings.isEmpty(searchCriteria)}">, 
                                  filter on <strong th:text="${searchCriteria}">Search</strong> 
                                  (<a id="removeSearchCriteria" href="#">remove</a>)</span>
							</div>
							<div id="booklist-header-pages" class="col-md-5">
								<nav aria-label="Book list navigation" th:if="${books.totalPages gt 1}">
					            <ul class="pagination pagination-sm">
					              <li th:classappend="${books.first}? disabled : enabled">
					                <a aria-label="First" href="#"  data-th-attr="data-page=0">
					                  <span aria-hidden="true">&laquo;</span>
					                </a>
					              </li>
					              <!-- /* Pagination is precomputed on server */ -->
					              <li th:each="page:${pagination}"
					              	  th:classappend="|${page < 0 ? 'disabled' : 'enabled'} ${books.number == page ? 'active' : ''}|" >
					                  <span
					                     th:if="${page == -1}"
					                  	 th:text="...">...</span>
					                  <a href="#" 
					                     th:if="${page > -1}"
					                     data-th-attr="data-page=${page}"
					                     th:text="${page + 1}">1</a>
					              </li>
					              <li th:classappend="${books.last} ? disabled : enabled">
					                <a href="#"  data-th-attr="data-page=${books.totalPages - 1}" aria-label="Last">
					                  <span aria-hidden="true">&raquo;</span>
					                </a>
					              </li>
					            </ul>
					            </nav>
		          			</div>
		          			<div id="booklist-header-size" class="col-md-2">
			          			<span>Show </span><select id="size">
			          				<option></option>
			          				<option value="10" th:selected="${books.size == 10}">10</option>
			          				<option value="20" th:selected="${books.size == 20}">20</option>
			          				<option value="50" th:selected="${books.size == 50}">50</option>
			          				<option value="100" th:selected="${books.size == 100}">100</option>
			          				<option value="1000" th:selected="${books.size == 1000}">1000</option>
			          			</select>
			          			<span> books</span>
		          			</div>
          				</div>
        
          				<!-- Table principale -->
						<table id="booktable" class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="col-xs-5">
										<a href="#" data-col="Title">Title
										<span th:if="${sort != null && sort.property == 'Title' && sort.ascending}" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
										<span th:if="${sort != null && sort.property == 'Title' && sort.descending}" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
										</a>
									</th>
									<th class="col-xs-2">
										<a href="#" data-col="Author">Author
										<span th:if="${sort != null && sort.property == 'Author' && sort.ascending}" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
										<span th:if="${sort != null && sort.property == 'Author' && sort.descending}" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
									    </a>    
									</th>
									<th class="col-xs-1">
										<a href="#" data-col="Pages">Pages
										<span th:if="${sort != null && sort.property == 'Pages' && sort.ascending}" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
										<span th:if="${sort != null && sort.property == 'Pages' && sort.descending}" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
									    </a>    
									</th>
									<th class="col-xs-3">
										<a href="#" data-col="Tags">Tags
										<span th:if="${sort != null && sort.property == 'Tags' && sort.ascending}" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
										<span th:if="${sort != null && sort.property == 'Tags' && sort.descending}" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
									    </a>    
									</th>
									<th class="col-xs-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="book : ${books}" class="book-line">
									<td><a th:href="@{/book/{b}(b=${book.id})}" th:text="${book.title}">Title</a></td>
									<td th:text="${book.author}">Author</td>
									<td th:text="${book.pages}">Pages</td>
									<td class="text-nowrap">
										<div class="booklist-cell">
											<span class="tag" th:each="tag: ${book.tags}" th:text="${tag.text}" data-th-attr="data-tagid=${tag.id}"
											th:style="'background-color:' + ${tag.backgroundColor} + ';color:' + ${tag.color} + ';border-color:'+ ${tag.borderColor}">
		                                           tag
	                                        </span>
	                                    </div>
									</td>
									<td>
										<span th:if="${book.status == T(com.obourgain.mylib.vobj.Book.BookStatus).DISCARDED}">Discarded</span>
										<span th:if="${book.status == T(com.obourgain.mylib.vobj.Book.BookStatus).TO_READ}">To read</span>
									</td>								
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.12/URI.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script>
			$(function() {
				
        				// Select page size
        				$("#size").change(function() {
        					var newSize = $("#size").val()
        					// When size is changed, reset page number to 0
        					var newUrl = URI(window.location.href)
        								.setSearch("size", newSize)
        								.setSearch("page", 0)
        								.toString()
        						
        					window.location.href = newUrl
        				});
        				
        				// Table headers
        				$("th a").click(function() {
        					var col = $(this).attr("data-col")
        					
        					var cursort = URI(window.location.href).query(true).sort
        					
        					var newsort = col
        					if (cursort == col) newsort = col + ",DESC"
        					
        					var newUrl = URI(window.location.href)
        								.setSearch("sort", newsort)
        								.toString()
        					
        					window.location.href = newUrl
        				});
        				
        				// Pagination
        				$("li a").click(function() {
        					var page = $(this).attr("data-page")
        					var newUrl = URI(window.location.href)
        								.setSearch("page", page)
        								.toString()
        					
        					window.location.href = newUrl
        				});
        				// Pagination
        				$("a#removeSearchCriteria").click(function() {
        					var newUrl = URI(window.location.href)
        								.setSearch("criteria", "")
        								.toString()
        					
        					window.location.href = newUrl
        				});
        				// Check box show discarded
        				$("#showDisc").click(function() {
        					var checked = $(this)[0].checked 
        					var newUrl = URI(window.location.href)
        					if (checked)
        						newUrl.setSearch("showDisc", "true").toString()
        					else 
        						newUrl.setSearch("showDisc","").toString()
        					window.location.href = newUrl
        				});
			});
      
            // Search
            function search() {
              var criteria = $("#search-criteria").val()
              var newUrl = URI(window.location.href)
                .setSearch("criteria", criteria)
                .toString()
    
               window.location.href = newUrl
            } 
		</script>
	</body>
</th:block>
</html>