<!DOCTYPE html>
<html lang="en">
<th:block xmlns:th="http://www.thymeleaf.org">

	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Your reading list</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<style>
a {cursor: pointer}
#list-header-size{margin:26px 0}
#list-header-summary{margin:26px 0}
.list-cell{width: 0; min-width: 100%;}
</style>
	</head>
	<body>
		<input type="hidden" id="csrf" name="_csrf" th:value="${_csrf.token}" />

		<div class="container">
			<div class="row">
				<h1>Reading list</h1>
				<a href="/books">&lt; back to list</a>
				<p class="lead"></p>
			</div>
			<div class="row">
				<form method="POST" th:action="@{/reading}" class="form-horizontal">
					<div class="col-xs-6">
					<select name="bookId" id="book-select" class="form-control input-large">
						<option></option>
						<option th:each="book: ${books}" th:value="${book.id}" th:text="${book.title}">
						</option>
					</select>
					</div>
					<div class="col-xs-2">
					<input id="readdate" name="readdate" type="text" placeholder="2017-12-23" class="form-control"></input> 
					</div>
					<div class="col-xs-2">
					<input type="submit" value="Add" class="btn btn-success"/>
					</div>
				</form>
			</div>
			<div class="row">
				<div id="list-header-summary"  class="col-md-5">
					<span th:text="${readings.totalElements}"></span> results<!-- Antispace device
					--><span th:if="${readings.totalPages gt 1}">, showing page <span th:text="${readings.number + 1}"></span>
					of <span th:text="${readings.totalPages}"></span></span>
				</div>
				<div id="list-header-pages" class="col-md-5">
					<nav aria-label="Reading list navigation" th:if="${readings.totalPages gt 1}">
					<ul class="pagination pagination-sm">
					  <li th:classappend="${readings.first}? disabled : enabled">
						<a aria-label="First" href="#"  data-th-attr="data-page=0">
						  <span aria-hidden="true">&laquo;</span>
						</a>
					  </li>
					  <!-- /* Pagination is precomputed on server */ -->
					  <li th:each="page:${pagination}"
					  	  th:classappend="|${page < 0 ? 'disabled' : 'enabled'} ${readings.number == page ? 'active' : ''}|" >
						  <span
							 th:if="${page == -1}"
						  	 th:text="...">...</span>
						  <a href="#" 
							 th:if="${page > -1}"
							 data-th-attr="data-page=${page}"
							 th:text="${page + 1}">1</a>
					  </li>
					  <li th:classappend="${readings.last} ? disabled : enabled">
						<a href="#"  data-th-attr="data-page=${readings.totalPages - 1}" aria-label="Last">
						  <span aria-hidden="true">&raquo;</span>
						</a>
					  </li>
					</ul>
					</nav>
				</div>
				<div id="list-header-size" class="col-md-2">
					<span>Show </span><select id="size">
						<option></option>
						<option value="10" th:selected="${readings.size == 10}">10</option>
						<option value="20" th:selected="${readings.size == 20}">20</option>
						<option value="50" th:selected="${readings.size == 50}">50</option>
						<option value="100" th:selected="${readings.size == 100}">100</option>
						<option value="1000" th:selected="${readings.size == 1000}">1000</option>
					</select>
					<span> books</span>
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered table-striped table-hover table-condensed">
					<thead id="readingtable" class="table table-bordered table-striped table-hover table-condensed">
						<tr>
							<th class="col-xs-5">Title</th>
							<th class="col-xs-4">Author</th>
							<th class="col-xs-2">
								<a href="#" data-col="Date">Date read
                                  <span th:if="${sort != null && sort.property == 'Date' && sort.ascending}" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                  <span th:if="${sort != null && sort.property == 'Date' && sort.descending}" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                               	</a>
                            </th>
							<th class="col-xs-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reading : ${readings}" th:id="${reading.id}">
							<td th:text="${reading.book.title}"></td>
							<td th:text="${reading.book.author}"></td>
							<td th:text="${#temporals.format(reading.date, 'yyyy-MM-dd')}"></td>
							<td><a class="delete-lnk">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.12/URI.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script>
			$(function() {
				$('#book-select').select2();

				$('#readdate').datepicker({
					format : "yyyy-mm-dd",
					weekStart : 1,
					todayBtn : "linked",
					autoclose : true,
					todayHighlight : true
				});

				$('a.delete-lnk').click(function() {
					var readingId = $(this).closest('tr').attr('id'); // table row ID 
					var csrf = $("#csrf").val();
					$.post("/deleteReading", {
						readingId : readingId,
						_csrf : csrf
					}, function() {
						location.reload()
					});
				});
				// Pagination
				$("li a").click(function() {
					var page = $(this).attr("data-page")
					var newUrl = URI(window.location.href)
								.setSearch("page", page)
								.toString()
					
					window.location.href = newUrl
				});
				// Select page size
				$("#size").change(function() {
					var newSize = $("#size").val()
					// When size is changed, reset page number to 0
					var newUrl = URI(window.location.href)
								.setSearch("size", newSize)
								.setSearch("page", 0)
								.toString()
						
					window.location.href = newUrl
				});
				
				// Table headers
				$("th a").click(function() {
					var col = $(this).attr("data-col")
					
					var cursort = URI(window.location.href).query(true).sort
					
					var newsort = col
					if (cursort == col) newsort = col + ",DESC"
					
					var newUrl = URI(window.location.href)
								.setSearch("sort", newsort)
								.toString()
					
					window.location.href = newUrl
				});
			})
		</script>
	</body>
</th:block>
</html>