<!DOCTYPE html>
<html lang="en">
<th:block xmlns:th="http://www.thymeleaf.org">

	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Your reading list</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<style>
html {overflow-y: scroll;} /* Avoid centering jump */
.tag {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 5px 2px;
	line-height: 20px;
}
#main-list{margin-top:20px}
tr.row{margin:0}
#list-header-summary{height:50px}
ul.pagination li a{min-width:35px;text-align:center}
ul.pagination li span{min-width:35px;text-align:center}
a{cursor:pointer}
.list-cell{width: 0; min-width: 100%;}
.container{margin-top:20px}

</style>
	</head>
	<body>
        <div th:insert="~{fragment/navbar :: navbar('readings')}"></div>

		<div class="container">
			<div class="row">
				<form method="POST" th:action="@{/reading}" class="row col-12">
					<input type="hidden" id="csrf" name="_csrf" th:value="${_csrf.token}" />
				
					<div class="col-6">
					<select name="bookId" id="book-select" class="form-control input-large">
						<option></option>
						<option th:each="book: ${books}" th:value="${book.id}" th:text="${book.title}">
						</option>
					</select>
					</div>
					<div class="col-2">
					<input id="readdate" name="readdate" type="text" placeholder="2017-12-23" class="form-control"></input> 
					</div>
					<div class="col-4">
					<input type="submit" value="Add" class="btn btn-success"/>
					</div>
				</form>
			</div>
			<div class="row" id="main-list">
				<h3>Your reading history</h3>
				<div th:if="${readings.totalElements == 0}" class="row">
					<p>No book found</p>
				</div>
				<div th:if="${readings.totalElements gt 0}" class="row">				
				<!-- Pagination -->
					<div class="row col-12">
						<div id="list-header-summary" class="col-4">
							<span th:text="${readings.totalElements}"></span> results<!-- Antispace device
							--><span th:if="${readings.totalPages gt 1}">, showing page <span th:text="${readings.number + 1}"></span>
							of <span th:text="${readings.totalPages}"></span></span>
						</div>
						<div id="list-header-pages" class="col-5">
							<div th:replace="fragment/pagination :: pagination(${readings}, ${pagination})"></div>           
						</div>
						<div id="list-header-size" class="col-3">
							<span>Show </span><select id="size">
								<option></option>
								<option value="10" th:selected="${readings.size == 10}">10</option>
								<option value="20" th:selected="${readings.size == 20}">20</option>
								<option value="50" th:selected="${readings.size == 50}">50</option>
								<option value="100" th:selected="${readings.size == 100}">100</option>
								<option value="1000" th:selected="${readings.size == 1000}">1000</option>
							</select>
							<span> books</span>
						</div>
					</div>
					<table id="readingtable" class="table table-bordered table-striped table-hover table-sm">
						<thead >
							<tr class="row">
								<th class="col-5">Title</th>
								<th class="col-4">Author</th>
								<th class="col-2">
									<a href="#" data-col="Date">Date read
	                                  <span th:if="${sort != null && sort.property == 'Date' && sort.ascending}" class="fa fa-sort-desc" aria-hidden="true"></span>
	                                  <span th:if="${sort != null && sort.property == 'Date' && sort.descending}" class="fa fa-sort-asc" aria-hidden="true"></span>
	                               	</a>
	                            </th>
								<th class="col-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reading : ${readings}" th:id="${reading.id}" class="row">
								<td class="col-5" th:text="${reading.book.title}"></td>
								<td class="col-4" th:text="${reading.book.author}"></td>
								<td class="col-2" th:text="${#temporals.format(reading.date, 'yyyy-MM-dd')}"></td>
								<td class="col-1" ><a class="delete-lnk" href="#">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.12/URI.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script>
			$(function() {
				$('#book-select').select2();

				$('#readdate').datepicker({
					format : "yyyy-mm-dd",
					weekStart : 1,
					todayBtn : "linked",
					autoclose : true,
					todayHighlight : true
				});

				$('a.delete-lnk').click(function() {
					var readingId = $(this).closest('tr').attr('id'); // table row ID 
					var csrf = $("#csrf").val();
					$.post("/deleteReading", {
						readingId : readingId,
						_csrf : csrf
					}, function() {
						location.reload()
					});
				});
				// Pagination
				$("li.page-item a").click(function() {
					var page = $(this).attr("data-page")
					var newUrl = URI(window.location.href)
								.setSearch("page", page)
								.toString()
					
					window.location.href = newUrl
				});
				// Select page size
				$("#size").change(function() {
					var newSize = $("#size").val()
					// When size is changed, reset page number to 0
					var newUrl = URI(window.location.href)
								.setSearch("size", newSize)
								.setSearch("page", 0)
								.toString()
						
					window.location.href = newUrl
				});
				
				// Table headers
				$("th a").click(function() {
					var col = $(this).attr("data-col")
					
					var cursort = URI(window.location.href).query(true).sort
					
					var newsort = col
					if (cursort == col) newsort = col + ",DESC"
					
					var newUrl = URI(window.location.href)
								.setSearch("sort", newsort)
								.toString()
					
					window.location.href = newUrl
				});
			})
		</script>
	</body>
</th:block>
</html>